.droppable-column {
    width: 100px;
    height: 50px;
    background-color: grey;
}

.columns-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}
